root = true

[*]
indent_style = space
indent_size = 2


[**/*.ts]
indent_size = 4
trim_trailing_whitespace = true

[*.md]
indent_size = 4
indent_style = space
trim_trailing_whitespace = false

[*.yml]
indent_size = 2

[frontend]
indent_size = 2

[Makefile]
indent_style = tab