<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>some title doesnt matter</title>

    <% styles.forEach(function(e){ %>
      <link href="<%= e %>" rel="stylesheet">
    <% }) %>
  </head>
  <body id="app">
    <%- html %>
    
    <% js.forEach(function(e){ %>
      <script type="text/javascript" src="<%= e %>"></script>
    <% }) %>
  </body>
</html>

